---
Title: aclog
Tags: [Java]
Description: aclogライブラリ
IsOldProduct: true
IsLibrary: true
LinkGithub: https://github.com/MeilCli/aclog
---

<p>
    レニウム氏が作ったaclogのAPIをJavaから叩くライブラリ。一時期これをアプリにぶち込んでたけどそのアプリの開発辞めたから使わなくなった。
    自作Twitter Oauthライブラリ(Twitter4Holo,Twitter4HK)にOauth Echo枠として組み込むようになってからはこのライブラリの必要性がなくなってしまった
</p>
