---
Title: BottomBarSharp
Tags: [Xamarin, Android, C#]
Description: オープンソースライブラリBottomBarをC#に翻訳したもの
IsProduct: true
IsLibrary: true
LinkGithub: https://github.com/MeilCli/BottomBarSharp
LinkNuGet: https://www.nuget.org/packages/BottomBarSharp/
---

<p>
    このライブラリは<a href="https://github.com/roughike/BottomBar">BottomBar</a>をC#に翻訳したものです。<br />
    <del>公式のサポートライブラリに同じコンポーネントが含まれるようになったのでそちらを利用したほうがいいです。</del>
    CoordinatorLayoutとの親和性、NavigationBarを透過にした時のレイアウトとかを考えればこのライブラリを使う利点はあります。
</p>

<h2>
    ドキュメント
</h2>

<p>英語版になりますが<a href="https://meilcli.github.io/BottomBarSharp">ドキュメント</a>公開しています。</p>

<h2>
    著作について
</h2>

<p>
    <a href="https://github.com/roughike/BottomBar">BottomBar</a>は<a href="https://github.com/roughike/BottomBar/blob/master/LICENSE">Apache License 2.0</a>に基づいて配布されています。<br/>
    Copyright (c) 2016 Iiro Krankka (<a href="http://github.com/roughike">http://github.com/roughike</a>).
</p>

<h2>
    このライブラリについて
</h2>

<ul>
    <li>Xamarin.Android</li>
    <li>BottomBar 2.0.2を翻訳しています</li>
</ul>

<h2>
    BottomBarからの変更点
</h2>

<ul>
    <li>xmlに書く名前空間が変更されています(com.roughike.bottombar.BottomBar → bottombarsharp.BottomBar)</li>
    <li>タブの選択・再選択のEventHandlerも用意しています</li>
    <li>いくつかのフィールドをプロパティとして用意しました</li>
</ul>

<h2>
    使用方法
</h2>

<p>NuGetからインストールしてください、またパッケージマネージャーコンソールでのインストールは以下の通りです。</p>

<pre><code>Install-Package BottomBarSharp</code></pre>

<h2>
    サンプル
</h2>

<p>
    <a href="https://github.com/MeilCli/BottomBarSharp/tree/master/BottomBarSharp.App">BottomBarSharp.App</a>プロジェクトを見てください。
</p>

<h2>
    トラブルシューティング
</h2>

<h3>
    リソースが見つからない
</h3>

<p>
    リソースIDに大文字を含めて指定している場合リソースが見つからないことがあるようです、小文字で指定してみてください。<br/>
    例) @@drawable/IconButtonGrey24dp → @@drawable/iconbuttongrey24dp
</p>

<h2>
    ライセンス
</h2>

<p>
    このライブラリは<a href="https://github.com/MeilCli/BottomBarSharp/blob/master/LICENSE.txt">MIT License</a>によって配布されています
</p>

