---
Title: MeilCliNet
Tags: [Wyam, CSS, HTML, C#]
Description: Wyamで作ったこのGithub Pagesのソース
IsProduct: true
IsRecommended: true
IsWebSite: true
LinkGithub: https://github.com/MeilCli/MeilCliNet
---

<h2>
    使用に関して
</h2>

<p>
    メタデータを使わずに直接コードに打ち込んでいる部分が多々あるのでフォークしてそのまま使うとかいうのはしにくいと思います。
</p>

<h2>
    ライセンス
</h2>
<p>
    ソースは<a href="https://github.com/MeilCli/MeilCliNet/blob/master/LICENSE.txt">MIT License</a>で公開してます

    また以下のものを使用・含んでいます
</p>

<ul>
    <li><a href="https://wyam.io/">Wyam</a></li>
    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="https://jquery.com/">jQuery</a></li>
    <li><a href="https://github.com/infinite-scroll/infinite-scroll">Infinite Scroll</a></li>
    <li><a href="https://highlightjs.org/">highlight.js</a></li>
</ul>
