---
Title: meilcli.github.io
Tags: [Wyam, CSS, HTML, C#]
Description: Wyamを使ったこのGithub Pagesのソース
IsProduct: true
IsWebSite: true
IsRecommended: true
LinkGithub: https://github.com/MeilCli/meilcli.github.io
---

<h2>
    対象ブラウザ
</h2>
<p>
    基本的に主流のブラウザには対応していると思います
    また、以下のブラウザで表示確認をしています
</p>
<ul>
    <li>Chrome(Windows10)</li>
    <li>Chrome(Android - Xperia Z4)</li>
    <li>Chrome(iOS - iPhone6)</li>
    <li>WebView(Twitter for iPhone)</li>
</ul>



<h2>
    ライセンス
</h2>
<p>
    このサイトのソースは<a href="https://github.com/MeilCli/meilcli.github.io/blob/master/LICENSE">MIT License</a>で公開してます

    また以下のものを使用しています
</p>

<ul>
    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="http://fontawesome.io/">Font Awesone</a></li>
    <li><a href="https://jquery.com/">jQuery</a></li>
    <li><a href="https://github.com/infinite-scroll/infinite-scroll">Infinite Scroll</a></li>
    <li><a href="https://highlightjs.org/">highlight.js</a></li>
</ul>
<p>
    IE8未満では以下のものを利用することがあります
</p>

<ul>
    <li><a href="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">html5shiv.min.js</a></li>
    <li><a href="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">respond.min.js</a></li>
</ul>