---
Title: About
---
<p>
    C#大好き系大学生。C#以外、特にJavaでコーディングすると苦痛を感じる模様<br />
    Androidアプリとか作ってるけどTwitterに関するものしかモチベが出ない
</p>

<h2>
    Location
</h2>

<p>
    Japan・日本
</p>

<h2>
    Language
</h2>

<p>
    C#はいいぞ
</p>

<ul>
    <li>大好き: C#</li>
    <li>得意: Kotlin, Java</li>
    <li>好きだけどできない： TypeScript</li>
    <li>少しだけなら: C, HTML, Markdown, JavaScript, CSS, PHP</li>
    <li>嫌い: Java, VB.NET</li>
</ul>

<small>本人は横浜弁や首都圏方言に近いものを話します、強い方言は日本語力不足なせいで通じない可能性あります。</small>

<h2>
    Programming History
</h2>

<ul>
    <li>2011年頃：Twitterのフォロワーに進められてプログラミングデビュー(PHP)</li>
    <li>2012年頃：AndroidのTwitterアプリを作りたくなったのでJavaに手を出す</li>
    <li>2013年頃：C#と出会ってしまうが、Androidで使えないためJavaと行ったり来たりする</li>
    <li>2015年夏頃：C#6.0の登場により完全にC#沼に落ちる</li>
    <li>2015年秋頃：AndroidでもC#使いたい欲に負けて、代わりになりそうなKotlinを使うようになる</li>
    <li>2016年4月1日：Xamarin個人開発者向けに無償化により、完全にC#の民になる</li>
</ul>

<h2>
    Skill
</h2>

<p>
    ずっとAndroidの開発していたからAndroid関連の知識に偏ってる模様
</p>

<ul>
    <li>
        <p>
            Java, Kotlin
        </p>
        <ul>
            <li>
                <p>
                    Android<br />
                    ずっとTwitterアプリを作っていたのでListViewやRecyclerViewあたりは慣れましたね。<br />
                    最近だとDataBindingでMVVMとかもしました。
                </p>
            </li>
        </ul>
    </li>
    <li>
        <p>
            C#
        </p>
        <ul>
            <li>
                <p>
                    Xamarin.Android<br />
                    Xamarin.Android固有のコーディング方法やReactivePropertyを使ったMVVMなどを頑張ってる()
                </p>
            </li>
            <li>
                <p>
                    .NET Framework<br />
                    C#使いのたしなみ程度のコンソールやフォーム、WPFアプリケーション程度しか作ったことない
                </p>
            </li>
            <li>
                <p>
                    .NET Core<br/>
                    Ubuntuで動くサーバーサイドの実装した時に使った程度
                </p>
            </li>
            <li>
                <p>
                    ASP .NET *<br/>
                    UbuntuやWindows Serverで動くサーバーサイドの実装した時に使った程度
                </p>
            </li>
            <li>
                <p>
                    Wyam<br />
                    このサイトを作ってる静的サイトジェネレーター。<br/>
                    ぶっちゃけ日本人でまともに使ってる人自分ぐらいしかいない気がする(Googleで日本語オプション付き検索する限り)
                </p>
            </li>
        </ul>
    </li>
</ul>

<h2>
    Game
</h2>

<p>
    ハード: PS4, PS3, PSP, Xbox360, WiiU, 3DS, PC
</p>

<p>
    最近やってる: BF4, BF1, HoI2, HoI4, パズドラ
</p>

<h2>
    Link
</h2>

<ul>
    <li>
        <p>
            <a href="http://twitter.com/meil_mitu">Twitter</a><br />
            最近使わなくなったけど通知は見てるので(数日かかるかもしれないけど)反応します。
        </p>
    </li>
    <li>
        <p>
            <a href="https://github.com/MeilCli">Github</a><br />
            いろいろとGithubに公開してるけど実はプルリクとか苦手、まず英語がry
        </p>
    </li>
    <li>
        <p>
            <a href="http://qiita.com/MeilCli">Qiita</a><br />
            気が向いたときに記事を投稿してるけど日本語考えるのめんどくさいから頻度は少ない。
        </p>
    </li>
    <li>
        <p>
            <a href="https://teratail.com/users/meilcli">Teratail</a><br />
            気が向いたときに質問に回答してる。わりと丁寧に回答してるつもり。
        </p>
    </li>
    <li>
        <p>
            <a href="https://bintray.com/meilcli">Bintray</a><br />
            Java,Kotlinライブラリを公開するのに使ってたけど最近は全く使ってない。
        </p>
    </li>
    <li>
        <p>
            <a href="https://www.nuget.org/profiles/meilcli">NuGet</a><br />
            最近の流行りはNuget、C#ライブラリ公開するときはNuGetにも上げるようにしてる。
        </p>
    </li>
    <li><p><a href="https://play.google.com/store/apps/developer?id=meil&hl=ja">GooglePlay</a></p></li>
    <li>
        <p>
            <a href="https://bitbucket.org/meilcli/">Bitbucket</a><br />
            プライベートリポジトリ用に作ってみたアカウント
        </p>
    </li>
    <li>
        <p>
            <a href="https://gitlab.com/MeilCli">Gitlab</a><br />
            作ってみただけのアカウント
        </p>
    </li>
</ul>

<h2>
    Contact
</h2>

<p>
    Please Japanese or easy English<br />
    <a href="http://twitter.com/meil_mitu">@@meil_mitu</a>
</p>