---
Title: About
---
<p>
    C#大好き系大学生。C#以外、特にJavaでコーディングすると苦痛を感じる模様<br/>
    Androidアプリとか作ってるけどTwitterに関するものしかモチベが出ない
</p>

<h2>
    Location
</h2>

<p>
    日本
</p>

<h2>
    Language
</h2>

<p>
    C#はいいぞ
</p>

<ul>
    <li>大好き: C#</li>
    <li>得意: Kotlin, Java</li>
    <li>少しだけなら: C, HTML, Markdown, JavaScript, CSS, PHP</li>
    <li>嫌い: Java, VB.NET</li>
</ul>

<h2>
    Skill
</h2>

<p>
    ずっとAndroidの開発していたからAndroid関連の知識に偏ってる模様
</p>

<ul>
    <li>Android</li>
    <li>Xamarin.Android</li>
    <li>.NET Framework</li>
    <li>.NET Core</li>
    <li>ASP .NET *</li>
</ul>

<h2>
    Game
</h2>

<p>
    ハード: PS4, PS3, PSP, Xbox360, WiiU, 3DS, PC
</p>

<p>
    最近やってる: BF4, BF1, HoI2, HoI4
</p>

<h2>
    Link
</h2>

<ul>
    <li><p><a href="http://twitter.com/meil_mitu">Twitter</a></p></li>
    <li><p><a href="https://github.com/MeilCli">Github</a></p></li>
    <li><p><a href="http://qiita.com/MeilCli">Qiita</a></p></li>
    <li><p><a href="https://teratail.com/users/meilcli">Teratail</a></p></li>
    <li><p><a href="https://bintray.com/meilcli">Bintray</a></p></li>
    <li><p><a href="https://www.nuget.org/profiles/meilcli">NuGet</a></p></li>
    <li><p><a href="https://play.google.com/store/apps/developer?id=meil&hl=ja">GooglePlay</a></p></li>
    <li><p><a href="https://bitbucket.org/meilcli/">Bitbucket</a></p></li>
</ul>

<h2>
    Contact
</h2>

<p>
    Please Japanese or easy English<br/>
    <a href="http://twitter.com/meil_mitu">@@meil_mitu</a>
</p>